---

- name: configure user's ssh keys
  copy:
    src: "{{ playbook_dir }}/roles/local_prepare/sshkeys/{{ item.private_key }}"
    dest: "/home/{{ item.user }}/.ssh/{{ item.file }}"
    owner: "{{ item.user }}"
    group: "{{ hadoop_group }}"
    mode: 0600
  with_items:
    - {private_key: hadoop_rsa, file: id_rsa, user: "{{ hadoop_user }}"}
    - {private_key: hadoop_rsa.pub, file: id_rsa.pub, user:  "{{ hadoop_user }}"}

- name: mkdir hadoop_conf_dir
  file: path="{{ hadoop_conf_dir }}" state=directory
# - name: copy files
#   shell: cp -rf {{ hadoop_path }}/etc/hadoop/* {{ hadoop_conf_dir }}
- name: configure daemons conf file
  template:
    src: ../templates/{{ item.template }}
    dest: "{{ hadoop_conf_dir }}/{{ item.file }}"
  with_items:
    - {template: core-site.xml.j2, file: core-site.xml}
    - {template: hdfs-site.xml.j2, file: hdfs-site.xml}
    - {template: yarn-site.xml.j2, file: yarn-site.xml}
    - {template: mapred-site.xml.j2, file: mapred-site.xml}
- name: export HADOOP_CONF_DIR ...
  lineinfile:
    dest: /etc/environment
    regexp: '^export HADOOP_CONF_DIR='
    line: export HADOOP_CONF_DIR={{ hadoop_conf_dir }}


- name: mkdir HADOOP_LOG_DIR
  file: path="/home/{{ hadoop_user }}/logs" state=directory  owner="{{ hadoop_user }}" group="{{ hadoop_group}}"
- name: export LOG_DIRs
  blockinfile:
    dest: /home/{{ item }}/{{ user_profile}}
    # path: /home/{{ item }}/{{ user_profile }}
    backup: yes
    block: |
      export HADOOP_LOG_DIR=/home/{{ item }}/logs
      export HDFS_LOG_DIR=/home/{{ item }}/logs
      export YARN_LOG_DIR=/home/{{ item }}/logs
      export HADOOP_MAPRED_LOG_DIR=/home/{{ item }}/logs
  with_items:
    - "{{ hadoop_user }}"
