---
- include_vars: file='../../../vars/resources.yml'
- include_vars: '{{ item }}'
  with_first_found:
  - files:
      - '{{ ansible_distribution }}-{{ ansible_distribution_major_version }}{{ python_suffix }}.yml'
      - '{{ ansible_os_family }}-{{ ansible_distribution_major_version }}{{ python_suffix }}.yml'
      - '{{ ansible_distribution }}{{ python_suffix }}.yml'
      - '{{ ansible_os_family }}{{ python_suffix }}.yml'
      - '{{ ansible_os_family }}.yml'
      - 'default{{ python_suffix }}.yml'
      - 'default.yml'
    paths: '../vars/os'

- name: Install the dependence packages
  package: name="{{ item }}" state=present
  with_items: '{{ dependency }}'

# install jdk files
- name: mkdir for jdk
  file: path="{{ jdk_dirname }}" state=directory
- name: upload jdk tar file
  copy:
    src: "{{ playbook_dir }}/roles/local_prepare/files/{{ jdk_tar_filename }}"
    dest: "{{ jdk_dirname }}/{{ jdk_tar_filename }}"
- name: check unarchive jdk directory
  stat: path="{{ jdk_dirname }}/{{ jdk_basename }}"
  register: jdkfstat
- name: unarchive jdk
  unarchive:
    src: "{{ jdk_dirname }}/{{ jdk_tar_filename }}"
    dest: "{{ jdk_dirname }}"
    remote_src: yes
  when: jdkfstat.stat.isdir is not defined

# export environment variable
- name: export JAVA_HOME
  lineinfile:
    path: /etc/environment
    regexp: '^JAVA_HOME='
    line: 'JAVA_HOME={{ jdk_dirname }}/{{ jdk_basename }}'
- name: export JAVA_HOME (for RedHat)
  lineinfile:
    path: "{{ sys_profile }}"
    regexp: '^export JAVA_HOME='
    line: 'export JAVA_HOME={{ jdk_dirname }}/{{ jdk_basename }}'
#  when: ansible_os_family == "RedHat"
- name: export JAVA_HOME to PATH
  lineinfile:
    path: '{{ sys_envfile }}'
    line: 'export PATH=$PATH:$JAVA_HOME/bin'
